@font-face {
    font-family: 'Dosis';
    src: url('./Fonts/Dosis-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Artis';
    src: url('./Fonts/Artis\ Regular.otf') format('truetype');
}

:root {
    --primaryColor: #6a85b6;
    --darkGrey: #646464;
    --lightGrey: #dfdfdf;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Dosis', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    /* background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%); */
    background: url(./images/bgImage.JPG) no-repeat;
    background-position: center 65%;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(135,135,135,.4);
    overflow-y: auto;
    min-height: 100vh;
    height: 100%;
    color: #fff;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    width: 80vw;
    margin: auto;
    padding: 2rem 0;
    min-width: 350px;
}

a {
    color: var(--primaryColor);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.navButton {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navButton:hover {
    background-color: var(--lightGrey);
}

.hamburger {
    width: 1.5rem;
    height: 1.5rem;
}

rect {
    fill: var(--primaryColor);
}

#navMenu {
    background-color: #6a85b6;
    opacity: .85;
    color: #fff;
    width: 25vw;
    height: 100%;
    padding-top: 5rem;
    position: absolute;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.5s;
    z-index: 1;
}

.closeMenu {
    left: -100vw;
}

.openMenu {
    left: 0;
}

#navMenu a {
    color: #fff;
}

#navMenu a:hover {
    text-decoration: underline;
    color: var(--lightGrey);
    font-size: 1.3rem;
}

#navMenu ul, #navMenu li {
    list-style: none;
    padding: 0;
}

nav+div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    align-self: center;
}

.typewrite {
    font-family: 'Artis', sans-serif;
    font-size: 4rem;
    color: #fff;
    text-shadow: 5px 5px 2px #646464 ;
}

.typewrite ~ p {
    margin: 0;
}

.mainLinks {
    margin-top: 1rem;
}

.mainLinks a {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.35rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.3s ease;
}

.mainLinks a:hover {
    background-color: var(--primaryColor);
    color: #fff;
    outline: #fff 1px solid;
    outline-offset: 3px;
}

footer {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    left: 10%;
    right: 10%;
}


@media screen and (max-width: 550px) {
    .typewrite {
        font-size: 3.25rem;
    }

    .mainLinks {
        display: flex;
        flex-direction: column;
        padding: 0 20%;
    }

    /* .show {
        display: none;
    } */

    #navMenu {
        width: 100vw;
        opacity: 0.95;
        position: fixed;
    }

    .navButton {
        z-index: 2;
    }

    #aboutMeModal, #contactModal {
        width: 100vw;
        height: 100vh;
    }
}


/* MODALS */

#aboutMeModal, #contactModal {
    position: fixed;
    z-index: 1;
    width: 70vw;
    height: 65vh;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 2.5rem 0 0 0;
    transition: 0.75s;
    overflow-y: auto;
}

#aboutMeModal::-webkit-scrollbar, #contactModal::-webkit-scrollbar {
    display: none;
}

.closeModal {
    bottom: -100vw;
    right: -100vh;
    /* display: none; */
}

.openModal {
    bottom: 0;
    right: 0;
    /* display: block; */
}

.modalContent {
    width: 100%;
    color: var(--darkGrey);
    padding: 1rem 4rem 2rem 4rem;
    font-size: 1.35rem;
}

.closeModalBtn {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 1.5rem;
    color: var(--primaryColor);
}

.closeModalBtn:hover {
    background-color: var(--lightGrey);
}

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contactForm>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
}

.contactForm>div>div {
    width: 100%;
}

.contactForm>div>div:first-child {
    margin-right: 1rem;
}

.formItem {
    position: relative;
}

.contactForm label {
    font-size: 1rem;
    position: absolute;
    top: -0.75rem;
    left: 2rem;
    background-color: var(--primaryColor);
    padding: 0.1rem 1rem;
    color: #fff;
}

.contactForm input, .contactForm textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.25rem;
    padding: 1rem 1rem .5rem 1rem;
    background-color:  rgba(255, 255, 255, .3);
}

.contactForm input {
    width: 100%;
    height: 4rem;
    border: var(--primaryColor) 2px solid;
}

.contactForm textarea {
    min-width: 100%;
    min-height:10rem;
    height: 15rem;
    border: var(--primaryColor) 2px solid;
}

.contactForm button {
    border: none;
    font-family: inherit;
    font-size: 1.25rem;
    cursor: pointer;
    width: 30%;
    min-width: fit-content;
    padding: .75rem;
    margin-top: 1rem;
    background-color: var(--lightGrey);
}

.contactForm button:hover {
    background-color: var(--primaryColor);
    color: #fff;
}


@media screen and (max-width: 750px) {
    .contactForm>div {
        flex-direction: column;
    }

    .contactForm>div>div:first-child {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    #aboutMeModal, #contactModal {
        width: 100vw;
        height: 100vh;
        z-index: 3;
    }
}


/* PROJECTS PAGE */
#projContainer {
    padding-bottom: 3rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

@media screen and (max-width: 800px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

.projects span {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 0.5rem;
    padding: 0.125rem 0.5rem;
    font-size: 1.35rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    transition: all 0.3s ease;
}

.projects span:hover {
    background-color: var(--lightGrey);
}

.projImg {
    margin: 1rem 0 0.5rem 0;
    width: 100%;
    height: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow: hidden;
    border-radius: 0.35rem;
    position: relative;
}

.projImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 1s ease;
}

.projImg:hover>img {
    /* box-shadow: inset 0 0 0 100px rgba(255,255,255, 1); */
    transform: scale(1.2);
}

.projCap {
    position: absolute;
    background-color: #fff;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.1);
    opacity: 0;
    transition: all 0.5s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.projCap h5, .projCap h6 {
    margin: 1rem;
}

.projImg:hover>.projCap {
    transform: scale(1);
    opacity: 1;
}

.stackList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stack {
    background-color: var(--primaryColor);
    border-radius: 0.5rem;
    padding: 0.125rem 0.5rem;
    margin: 0 0.15rem;
    color: #fff;
}